:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


/* Estilos para Categories */
.categories {
  padding: 2rem 0;
}

.categories-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: var(--foreground);
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  list-style-type: none;
}

.category-item {
  background-color: var(--background);
  border: 1px solid var(--foreground);
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.category-name {
  font-size: 1.25rem;
  padding: 1rem;
  margin: 0;
  background-color: var(--foreground);
  color: var(--background);
}

.category-description {
  padding: 1rem;
  color: var(--foreground);
}

.category-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .categories-list {
    grid-template-columns: 1fr;
  }

  .category-item {
    max-width: 400px;
    margin: 0 auto;
  }
}





.hero {
  background-color: var(--background);
  color: var(--foreground);
  padding: 2rem 0;
}
.hero__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 0 auto;
  max-width: 1200px;
  padding: 2rem;
}
.hero__title {
  font-size: 3rem;
  line-height: 1.2;
}
.hero__description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.hero__image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__img {
  width: 100%;
  height: auto;
}


.card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.imageContainer {
  position: relative;
  height: 12rem;
  width: 100%;
}

.image {
  object-fit: cover;
}

.content {
  padding: 1rem;
}

.title {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.price {
  color: #4b5563;
  margin-bottom: 0.5rem;
}

.button {
  background-color: #3b82f6;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #2563eb;
}
